<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 flex-none">
		<img src="/img/logo.png" alt="Kaldi logo" class="br0 db mb0 w-80"/>
	</a>

	<a href="#main-menu"
     role="button"
     id="main-menu-toggle"
     class="menu-toggle z-max"
     aria-expanded="false"
     aria-controls="main-menu"
     aria-label="Open main menu">

    <span class="sr-only">Open main menu</span>
    <span class="fa fa-bars" aria-hidden="true"></span>
  </a>

  <nav id="main-menu" role="navigation" class="main-menu z-max" aria-expanded="false" aria-label="Main menu">
    <a href="#main-menu-toggle"
       role="button"
       id="main-menu-close"
       class="menu-close"
       aria-expanded="false"
       aria-controls="main-menu"
       aria-label="Close main menu">

      <span class="sr-only">Close main menu</span>
      <span class="fa fa-close" aria-hidden="true"></span>
    </a>
    <ul class="">
			<li><a href="/products" class="">Products</a></li>
			<li><a href="/values" class="">Values</a></li>
			<li><a href="/post" class="">Blog</a></li>
			<li><a href="/contact" class="">Contact</a></li>
    </ul>
  </nav>
  <a href="#main-menu-toggle"
     class="backdrop"
     tabindex="-1"
     aria-hidden="true" hidden></a>

</nav>
